.small-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: white;
    width: 40%;
}

.small-btn.green { background-color: #28a745; }
.small-btn.red { background-color: #dc3545; }
.small-btn.blue { background-color: #007bff; }
.small-btn.orange { background-color: #fd7e14; }

.action-buttons {
  display: flex;
  flex-direction: column;
}

.action-buttons div {
  margin: 2px;
}
